.articleCard {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--card-bg);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imgAndTitle {
  display: flex;
  gap: 10px;
}

.imgLink {
  width: 50%;
}

.titleLink {
  width: 50%;
}

.articleImg {
  grid-area: img;
  max-width: 100%;
  border-radius: 5px;
}

.articleTitle {
  grid-area: title;
  text-align: left;
}

.tags {
  grid-area: tags;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
}

.tag {
  box-sizing: border-box;
  text-decoration: underline;
  font-size: 0.75rem;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg);
  padding: 1px 8px 2px 8px;
  border-radius: 10px;
}

.tagIcon {
  height: 15px;
  margin-right: 3px;
  margin-left: -2px;
}
