.articleContainer {
  padding: var(--default-padding);
}

.articleHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.authorAndVotes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.writtenBy {
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.votingBlock {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.voteButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.voteIcon {
  height: calc(var(--icon-lg) * 1.1);
  width: calc(var(--icon-lg) * 1.1);
}

.upVoted {
  fill: forestgreen;
}

.downVoted {
  fill: darkorange;
}

.numberOfVotes {
  margin: 5px;
}

.articleImg {
  width: 100%;
}

.articleBody {
  margin: 20px 0;
}

.commentsHeading {
  margin-top: 20px;
}

.commentsList {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
