.commentCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: var(--card-bg);
  border-radius: 10px;
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}
