.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  width: 100vw;
  padding: calc(var(--default-padding) / 2) var(--default-padding);
  background-color: var(--secondary-bg);
  position: fixed;
  z-index: 10;
}

.navbarLastItem {
  margin-left: auto;
}

.loginButton {
  box-sizing: border-box;
  text-decoration: underline;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-bg);
  background-color: var(--primary);
  padding: 1px 8px 2px 8px;
  border: none;
  border-radius: 15px;
  margin-left: auto;
}
