.topicSlug {
  box-sizing: border-box;
  text-decoration: underline;
  font-size: 1.25rem;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg);
  padding: 2px 8px 4px 8px;
  border-radius: 1rem;
  position: absolute;
  right: 15px;
  bottom: 25px;
}

.imgWithSlug {
  position: relative;
}

.description {
  margin: 0;
  padding: 5px 0;
}
